*{ margin: 0;padding: 0;box-sizing: border-box;outline: none; }
ul,li{ list-style: none; }
.clearfix:after{ display: block;content: '';clear: both; }
a img, iframe {  border: none;  text-decoration: none; }
:focus { outline: 0; } 
table { border-collapse: collapse;border-spacing: 0;} 
html,body { line-height: 1;font-family: "微软雅黑";max-width:1920px;min-width:1200px;-webkit-font-smoothing: antialiased;}
a {  text-decoration: none; } 
a:hover{text-decoration:none; }
i,cite,em,var,address,dfn{font-style: normal;}
input { outline:none;}
select {
appearance:none;
 -moz-appearance:none;
 -webkit-appearance:none;
}
select::-ms-expand { display: none; }
template div:first-child {overflow:hidden; }
abbr,acronym{border:0;font-variant:normal; }
caption,th{text-align:left;font-weight:normal;}
html,body,fieldset,img,iframe,abbr{border:0;}
textarea{overflow:auto;resize:none;}







